accelerate==0.29.3
datasets>=2.19,<3
huggingface-hub>=0.23
matplotlib>=3.8
nbformat>=5.10
numpy>=1.26
pandas>=2.2
PyYAML>=6.0
peft==0.10.0
scikit-learn>=1.4
tensorboard>=2.16
torch>=2.2
transformers==4.40.0
trl==0.8.6
